{
  "storage": {
    "type": "s3",
    "config": {
      "bucket": "{{ kopia_io_aws_bucket }}",
      "endpoint": "s3.amazonaws.com",
      "accessKeyID": "{{ kopia_io_aws_accessKeyID }}",
      "secretAccessKey": "{{ kopia_io_aws_secretAccessKey }}",
      "sessionToken": "",
      "region": "{{ kopia_io_aws_region }}"
    }
  },
  "caching": {
    "cacheDirectory": "{{ kopia_io_cache_dir }}",
    "maxCacheSize": 5242880000,
    "maxMetadataCacheSize": 500000000,
    "maxListCacheDuration": 600
  },
  "hostname": "{{ inventory_hostname }}",
  "username": "root",
  "description": ""
}
